<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>P'acha</title>
        <!--Bootstrap 4 CDN-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
        crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark navbar-expand-md sticky-top">

            <div class="container-fluid"><a class="navbar-brand" [routerLink]="['/mitienda/productos']"><span  style="font: normal 80px Cookie, cursive; color: rgb(247, 236, 237);">P'acha</span></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></div>
        </nav>